mixin chat-message-body(chats)
  .chat-message-body 

    //- select last message . 
    - const myId = user.id.toString()
    - latMessageIndex = chats.map(item => item.user_id.id.toString()).lastIndexOf(myId) 
    each chat , index in chats 
      - const isSystem = chat.content.includes("đã rời nhóm") || chat.content.includes("đã thêm") || chat.content.includes("đã xóa")

      if isSystem
        .system-message
          span 
            | #{chat.content}

      else
        if chat.user_id
          - const user_id = chat.user_id._id.toString()
          - const time = chat.createdAt ? new Date(chat.createdAt).toLocaleTimeString("vi-VN", {hour: "2-digit", minute: "2-digit"}) : ""

          div(
            class = (user_id === user.id ? "inner-outgoing" : "inner-incoming")
          )
            if user_id !== user.id 
              .avatar
                img(src=(chat.user_id.avatar ? chat.user_id.avatar : "/images/default-avatar.webp" ), alt="")

            .inner-message
              if user_id !== user.id 
                .name #{chat.user_id.fullName}

              if chat.content 
                .content #{chat.content}

              if chat.images && chat.images.length > 0 
                .images
                  each image in chat.images 
                    if image
                      - const isImage = image.match(/\.(jpeg|jpg|gif|png|webp)$/i)

                      if isImage
                        img(src=image, alt="image" class="chat-image-preview")
                      else
                        - const fileName = image.split('/').pop().split('?')[0].split(':upload:')[0]
                        a(href=image, target="_blank" class="file-attachment-box")
                          i.bx.bx-file
                          span.file-name #{fileName}
              if user_id == myId && index === latMessageIndex
                .inner-foot
                  span.inner-time #{time}
                  if chat.status === "seen"
                    span( class = "chat-status" data-status=chat.status) Đã xem
                  else
                    span(class = "chat-status" data-status=chat.status) Đã gửi
              else 
                .inner-foot
                  span.inner-time #{time}

    .inner-list-typing