mixin chat-list-user(users)
  .chat-list-friend 
    each user in users
      - const isActive = (roomId === user.room_chat_id) ? "active" : ""

      a(href=`/chat?roomId=${user.room_chat_id}` 
        class = `box-friend ${isActive}`
        user-id = user._id
        room-id=user.room_chat_id
      )  
        img(src=(user.avatar ? user.avatar : "/images/default-avatar.webp") alt="")
        .inner-content 
          span(class = "name") #{(user.fullName ?user.fullName : user.title )} 
          span(class = "last-message") 
            | #{user.lastMessage ? (user.lastMessage.length > 25 ? user.lastMessage.slice(0, 15) + "..." : user.lastMessage) : "Bắt đầu trò chuyện"}
        .inner-status(status=user.statusOnline)
          i.fa-solid.fa-circle

mixin chat-list-user-not-friend(users)
  .chat-list-friend 
    each user in users
      - const isActive = (roomId === user.room_chat_id) ? "active" : ""
      a(href=`/chat/not-friend?roomId=${user.room_chat_id}` 
        class = `box-friend ${isActive}`
        room-id=user.room_chat_id
        )  
        img(src=(user.avatar ? user.avatar : "/images/default-avatar.webp") alt="")
        .inner-content 
          span(class = "name")  #{user.fullName} 
          span(class = "last-message") 
            |   #{user.lastMessage ? (user.lastMessage.length > 20 ? user.lastMessage.slice(0, 15) + "..." : user.lastMessage) : "Bắt đầu trò chuyện"}

        //- .inner-status(status=user.statusOnline)
        //-   i.fa-solid.fa-circle