extends ../../layout/default.pug
include ../../mixins/box-alert.pug

block main 
  .container.my-3
    .container-user 
      .header-user 
        h3 Tạo phòng chat mới
      .row
        .col-12
          +box-error(error)

          form(
            action="/room/create"
            method="POST"
          )
            .mb-3
              label(for="title" class="form-label") Tiêu đề phòng
              input(
                type="text" 
                class="form-control" 
                id="title" 
                name="title" 
                placeholder="Nhập tên phòng..."
              )

            //- .mb-3
            //-   label(for="avatar" class="form-label") Ảnh đại diện
            //-   input(
            //-     type="file" 
            //-     class="form-control" 
            //-     id="avatar" 
            //-     name="avatar" 
            //-     accept="image/*"
            //-   )

            .mb-3
              label(class="form-label") Thêm thành viên
              if friends && friends.length > 0
                .row
                  each friend in friends
                    .col-12
                     div(class="box-user-select")
                        input(
                          type="checkbox" 
                          name="memberIds" 
                          value=friend._id 
                          id=`friend-${friend._id}`
                        )
                        label(for=`friend-${friend._id}`)
                          .inner-avatar
                            img(
                              src=(friend.avatar ? friend.avatar : "/images/default-avatar.webp")
                              alt=friend.fullName
                            )
                          .inner-name #{friend.fullName}
              else 
                div(class="alert alert-warning") Bạn chưa có bạn bè nào để thêm vào nhóm.

            div(class="text-right")
              button(type="submit" class="btn btn-primary") Tạo phòng